

.features{
    padding: 50px 8%;
    position: relative;
    background-color: rgb(201, 201, 201);
    z-index: -2;
    text-align: center;

    h2{
        margin-bottom: 20px;
        font-size: 2.1rem;
        color: $headerBlue;
    }

    h3{

        font-size: 1.5rem;
        color: $headerBlue;
    }

    p{
        margin-bottom: 50px;
        font-size: 1.1rem;
        color: $lightGray;
    }
}

.icon-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.feature-icons{
   flex-basis: 100%;
   img,h3{
       margin-bottom: 20px;
   }
   p{
       margin-bottom: 50px;
   }
}

@media all and (min-width: 768px){
    .feature-icons{
        flex-basis: 45%; 
    }
    .features{
        text-align: left;
    }
}

@media all and (min-width: 1300px){
    .feature-icons{
        flex-basis: 23%; 
    .features{
        text-align: left;
    }
}
}



